<%- include('headerin'); -%>
<div class="dashboard">
  <div class="top">
    <h1><%- locals.team.name.trim() %>, <%- locals.team.school.trim() %></h1>
    <h3 style="color:#578b32;cursor: pointer;text-align:right;display:inline-block;float:right" onclick="window.location.href='/'">Logout</h3>
    </div>
    
  <div class="dashrow">
    <div class="points">
      <div class="fp">
        <h1> Points</h1>
        <h1 class="numbr"><%- locals.team.fp %></h1>
      </div>
      <div class="bp">
        <h1>Devil's Favour</h1>
        <h1 class="numbr"><%- locals.team.bp %></h1>
      </div>
    </div>
    <div class="right">

    <div class="dashrow">

    </div>
  </div>
  <script>
    const originalTimestamp = 'Tue Oct 10 2023 07:10:07 GMT+0000';
const dateObject = new Date(originalTimestamp);
const isoTimestamp = dateObject.toISOString();

console.log(isoTimestamp);
  </script>
  <%- include('footer'); -%>
</div>
